doctype html
html(lang="eg")
    head
        title landing Page 
    body
        h1 Pug Practice
        p (G)I-dle (Korean: (여자)아이들), stylized in all caps, is a South Korean girl group formed by Cube Entertainment in 2018. The group consists of five members: Miyeon, Minnie, Soyeon, Yuqi and Shuhua. Originally a sextet, Soojin left the lineup on August 14, 2021. (G)I-dle debuted on May 2, 2018, with the single "Latata" from their first extended play (EP) I Am. They debuted in Japan under U-Cube[3] with Latata on July 31, 2019.