* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	font-family: serif;
}

/* nav */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
	height: 60px;
	line-height: 60px;
	background: #eee;
}

nav .logo {
	padding-left: 20px;
	text-decoration: none;
	color: #000;
	font-weight: 800;
	letter-spacing: .5px;
}


nav ul {
	display: flex;
}


nav ul li {
	cursor: pointer;
	height: 100%;
	padding: 0 15px;
	transition: .4s;
}


nav ul li a {
	color: #000;
	font-size: 14px;
	font-weight: 200;
	text-decoration: none;
}

nav ul li:hover {
	background: #ccdeee;
}


/* cover */

.cover {
	height: 5em;
	background: #ccdeee;
	text-align: center;
	font-size: 40px;
	font-weight: 900;
	line-height: 5em;
}

/* section */

section h3 {
	font-size: 25px;
	font-weight: 900;
}

section {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 0px;
}


.wrap {
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;
	margin-top: 10px;
}

.content-box {
	font-size: 18px;
	background: #889aaa;
	margin-bottom: 20px;
	padding-top: 15px;
	width: 49%;
	height: 160px;
}

.cta {
	border: 0;
	background-color: #ccdeee;
	padding: 15px 10px;
	cursor: pointer;
}

/***** media queries *****/

@media screen and (min-width: 1200px) {
	.wrap {
		width: 1200px;
	}
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
	.wrap {
		width: 90%;
	}
}

@media screen and (max-width: 500px) {
	.wrap {
		width: 90%;
	}
	.content-box {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {

}



